.App {
	text-align: center;
}
body {
	/* uigradients.com/#Celestial */
	background: #c33764; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #1d2671, #c33764); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#1d2671,
		#c33764
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App {
	margin: 1rem;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.hero {
	width: 180px;
	height: 180px;
	margin: auto;
	border-radius: 50%;
	opacity: 0.9;
}
.hero:hover {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
.title {
	color: #ffffff;
	font-weight: bolder;
	font-size: 2.8em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
